<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metset | Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='')}}" type="image/x-icon">
</head>
<body style="overflow-y:hidden;">
  <!-- <div class="preloader"><h1 class="preloadertxt" style="color: white; font-weight: 100;">Metset</h1>
    <center><div class="loader"></div></center>
   </div> -->
  <div class="header" id="header">
    <a href="/" style="text-decoration: none;"><p class="logo" style="display: inline; vertical-align: middle;font-size: 1.2em; margin-top: 0;text-decoration: none;margin-left: 1em;">METSET</p></a>
    <a href="/login"><p class="headerlinks" style="display: inline; vertical-align: middle; font-weight: 100; padding-left: 2em; float: right; margin-top: 0;margin-right: 2em;">Already have an account?</p></a>
  </div>
  <h4 style="color: #CECECE;font-family: 'GothamBook';font-weight: 100; width: 50%; float: right; margin-top: 3em;">Register your account</h4>
  
  <span style="color: white; font-family: 'GothamMedium';width: 67.7%; float: right;line-height: 1em;font-size: 2em;">Welcome</span>
<br>
<img src="{{url_for('static', filename='line.png')}}"  style="position: absolute; max-width: 0.4em; left: 25em; pointer-events: none;">

 
<br>
<br>
  <form action="{{ url_for('register') }}" method="post" autocomplete="off" style="float: right; margin-right: 1em;margin-top: 2em;width: 67%;">
	<input type="text" placeholder="First Name" id="username" name="firstname"  class="reginput">
	<input type="text" placeholder="Last Name" id="lastname" name="lastname"  class="reginput" style="margin-left: 3em;">
<br>

<br>
<input type="text" name="email" placeholder="Email Address" id="email"  class="reginput2">
<br>
<br>
<input type="password" name="password" placeholder="Password" id="password"  class="reginput2">
	<br>
	<br>
  <div class="msg">{{ msg }}</div>

	<input type="submit" value="REGISTER" class="regbtn" style="float: right; margin-right: 10em;">

</form>
</body>
</html>
